@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/*--------------------------------------------Index*/

#index{
    background-color: rgb(49, 84, 49);
}

#mains{
    margin-top: 15vh;
}

.index_buttons{
    margin:10px;
}

.index_buttons a{
    padding: 20px;
}

.hvr-buzz{
    width:180px;
}