@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/*____________________________________index*/
/*____________________________________game_one*/
/*____________________________________game_two*/
/*____________________________________contact*/