@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/*--------------------------------------------Footer*/
.center{
    margin:100px auto 100px;
    width: 50%;
    padding: 10px;
}
/*--------------------------------------------Section*/
.game_section{
    align-items: center;
    display: flex;
    justify-content: center;
    display:none;
}
.game_section p{
    font-size: xx-large;
}


/*--------------------------------------------Media Queries*/

@media(min-width: 992px){
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}
