@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/*--------------------------------------------Index*/

#index{
    background-color: rgb(49, 84, 49);
}

#mains{
    margin-top: 15vh;
}

.index_buttons{
    margin:10px;
}

.index_buttons a{
    padding: 20px;
}

.hvr-buzz{
    width:180px;
}

/*--------------------------------------------Contact*/

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}


.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #e84610;
    color: #fafafa;
}


/*--------------------------------------------Media Queries*/

@media(min-width: 992px) {

    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}
